<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse px-3" id="navbarTogglerDemo01">
  <a class="navbar-brand" href="#">Home Budget App</a>
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">

    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'Categories', categories_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Add Category', new_category_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign Out", destroy_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <strong><%= link_to current_user.name, categories_path, class: "nav-link" %></strong>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
  </div>
</nav>